
.tooltip {
  position: absolute;
  width: 200px;
  height: 57px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: rgb(63, 48, 83, .5); 
  border: 0;
  border-radius: 5px;
}


.axisText {
  font-family: sans-serif;
  font-weight: 14px sans-serif;
  fill: rgb(63, 48, 83);
  text-anchor: middle;
}

.titleText {
  font-family: sans-serif;
  font-weight: bold;
  fill: rgb(63, 48, 83);
  text-anchor: middle;
}

.BoroughText {
  font-family: sans-serif;
  font-weight: bold;
  fill: rgb(33, 38, 110);
  text-anchor: center;
}


.tooltip3 {
  fill:#7bc2a7
}


